@charset "UTF-8";

#cnt {
  position: absolute;
}

@media (min-width: 1px) {
  a {
      z-index: 1;
  }
}

@media (min-width: 2px) {
  b {
    z-index: 2;
  }
}

@media (min-width: 1px) {
  b {
    z-index: 2;
  }
}
